@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
    --blue: #ff00f6;
    --yellow: #00fffc;
}

body {
    font-family: "Roboto Mono", "Courier New", monospace;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-top: 25px;
}
.header {
    width: 100%;
    text-align: center;
    padding: 25px 10px 15px 10px;
}
a {
    color: var(--blue);
}
a:hover {
    color: var(--yellow);
}
.footer {
    text-align: center;
}
.nav {
    justify-content: center;
    list-style-type: none;
    padding: 0;
}
.nav li {
    margin: 0 10px 0 10px;
}

.hidden {
    visibility: hidden;
}

ul {
    list-style: none;
    padding: 0;
}
li {
    padding-left: 1.3em;
}
li:before {
    content: ">";
    font-family: "Roboto Mono", "Courier New", monospace;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}
.art {
    width: 100%;
    max-width: 250px;
    margin: 10px 0 30px 0;
}
.footer {
    text-align: center;
    margin: 50px;
}

@media screen and (max-width: 576px) {
    iframe {
        max-width: 100% !important;
        width: auto !important;
    }
    .header h1 {
        font-size: 1.8rem;
    }
    .header p {
        font-size: 0.9rem;
    }
}
